@font-face {
  font-family: 'Kalameh';
  src: url('../public/fonts/Kalameh-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'KalameBold';
  src: url('../public/fonts/Kalameh-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'KalamehBlack';
  src: url('../public/fonts/Kalameh-Black.ttf') format('truetype');
}

body {
  direction: rtl;
  margin: 0;
  font-family: 'Kalameh', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
